* {
    box-sizing: border-box;
    background-color: black;
    color: seashell;
    font-size: 22px;
    font-family: Helvetica;
    opacity: 0.9;
}
#wrapper {
  
}
header {
    display: flex;
    background-color: rgba(0,0,0,1.0);
    border-bottom: 1px solid seashell;
    justify-content: flex-end;
    width: 100%;
    position: fixed;
    padding: 10px 30px;
    max-height: 69px;
    align-items: center;
    text-align: center;
    opacity: 1 !important;
    margin-top: -65px;
    z-index: 1;
}
nav {
    display: flex;
    align-items: center;
}
#nav-logo {
    margin-right: auto;
    max-height: 50px;
    margin-top: 10px;
}
header nav a {
    padding: 10px 20px;
    font-size: 18px;
    flex-shrink: 2;
}
@media only screen and (max-width: 768px) {
    header nav a {
        font-size: 14px;
        padding: 5px 10px;
    }
    #our-mission h4 {
        font-size: 14px;
    }
}
#our-mission {
    background-image: url(../images/img-mission-background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 52px;
    height: 700px;
    text-align: center;
}
#welcome-text {
    width: 100%;
    background-color: black;
    margin: 0px 0px !important;
    padding: 0px 0px;
    align-self: center;
}
h2{
    font-size: 32px;
    margin: 0px 0px !important;
    padding: 10px 5px;
}
h4 
{
    margin: 0px 0px !important;
    padding: 10px 5px;
}
#monthly-tea {
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
}
.monthly-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-self: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

}
.tea-card {
    margin: 10px;
}
.tea-card img{
    height: 200px;
    width: 300px;
}
#locations {
    min-height: 500px;
    background-image: url(../images/img-locations-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#locations h2 {
    width: 100%;
    background: none;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
    align-self: center;
}
#location-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: none;
}
.local-card {
    width: 300px;
    height: 300px;
    margin: 15px 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}
footer {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    text-align: center;
}
#copyright {
    text-align: left;
    margin-left: 20px;

}